/****GOOGLE/BD FONTS****/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/DiscordFont.css");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+128&family=Libre+Barcode+128+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

/****ADDONS****/
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css");
@import url("https://warrayquipsome.github.io/Chillax/ChillaxTag.css");
@import url("https://warrayquipsome.github.io/Chillax/Addons/SettingsModalEdited.css");
@import url("https://crearts-community.github.io/Friends-Grid/theme.css");
@import url("https://dablulite.github.io/css-snippets/AccountDetailsGrid/import.css");

/****CHILLAX COMPONENTS****/
@import url('https://warrayquipsome.github.io/Chillax/Components/WindowsButtons.css');
@import url('https://warrayquipsome.github.io/Chillax/Components/UserArea.css');
@import url('https://warrayquipsome.github.io/Chillax/Components/Embeds.css');
@import url('https://warrayquipsome.github.io/Chillax/Components/ChatArea.css');
@import url('https://warrayquipsome.github.io/Chillax/Components/ChannelHeader.css');
@import url('https://warrayquipsome.github.io/Chillax/Components/EmojiPicker.css');

.sidebarList_c48ade,.container_c8ffbb,.chat_f75fb0,.chatContent_f75fb0,.container__9293f,.channelTextArea_f75fb0 {
border-color:transparent!important
}

::-webkit-scrollbar,::-webkit-scrollbar-track,::-webkit-scrollbar-track-piece {
background:transparent!important;
border-color:transparent!important
}

::-webkit-scrollbar-thumb {
background:var(--chillax-scroller-color)!important;
border:none!important
}

.wrapper_cb9592,.minimum_cb9592,.callContainer_cb9592 {
background:none!important
}

html.theme-dark .userPopout-2j1gM4 {
background-color:#0006
}

html.theme-light .userPopout-2j1gM4 {
background-color:#fff6
}

html.theme-dark .footer-3naVBw {
background-color:#0000!important
}

html.theme-light .footer-3naVBw {
background-color:#fff0!important
}

.avatar-2Vndt_ {
background-color:transparent;
border:6px solid transparent
}

html.theme-dark .floating-window-titlebar {
background-color:#00000093
}

html.theme-light .floating-window-titlebar {
background-color:#ffffff93
}

html.theme-dark .scrollbar__506b3 {
background-color:#00000060!important
}

html.theme-light .scrollbar__506b3 {
background-color:#ffffff60!important
}

.lookFilled__201d5 {
font:12px Roboto
}

html.theme-dark .lookFilled__201d5 {
background:rgba(60, 60, 60, .25)!important;
color:#fff!important
}

html.theme-light .lookFilled__201d5 {
background:#fff!important;
color:#000!important
}

.lookFilled__201d5:hover {
background:#000!important
}

html.theme-dark .timeline-UWmgAx:hover .barFill-Dhkah7 {
background:linear-gradient(135deg,#2b2b2b,var(--accentcolorV2))
}

html.theme-light .timeline-UWmgAx:hover .barFill-Dhkah7 {
background:linear-gradient(135deg,#e2e2e2,var(--accentcolorV2))
}

.placeholder__1b31f.slateTextArea_ec4baf.fontSize16Padding__74017 {
color:transparent!important
}

html.theme-dark .input-2g-os5:hover,html.theme-dark .scrollableContainer__74017:hover {
background-color:#00000023!important
}

html.theme-light .input-2g-os5:hover,html.theme-light .scrollableContainer__74017:hover {
background-color:#ffffff23!important
}

html.theme-dark .input-2g-os5:focus-within,html.theme-dark .scrollableContainer__74017:focus-within {
background-color:#181a1d!important
}

html.theme-light .input-2g-os5:focus-within,html.theme-light .scrollableContainer__74017:focus-within {
background-color:#e4e4e4!important
}

.placeholder__1b31f::before {
font:13px Poppins
}

html.theme-dark .placeholder__1b31f::before {
color:#fff3
}

html.theme-light .placeholder__1b31f::before {
color:#0003
}

.button_e6e74f {
background-color:transparent
}

.button_e6e74f:hover {
background-color:#00000023
}

.buttonActive_e6e74f {
background-color:#181a1d
}

span[class="inner-26JK4f"]:after {
background-image:url(https://multiplexurbangreen.com/images/loader.gif);
display:inline-block;
height:32px;
width:32px
}

html.theme-light .container__55c99 {
background-color:#f0f0f033
}

html.theme-dark .elevationBorderHigh__2b2f1 {
background:#0000008e!important
}

html.theme-light .elevationBorderHigh__2b2f1 {
background:#ffffff8e!important
}

.searchOption-351dTI .filter-5YbOzJ {
color:var(--accentcolorV2)!important
}

.wrapper__1405b,.centerButton_f1ceac.colorable_f1ceac {
background-color:var(--accentcolorV2)!important
}

.newMessagesBar__0f481.barBase__0f481 {
background-color:var(--brand-experiment);
display:flex;
height:20px;
margin-left:auto;
margin-top:auto;
padding:8px!important;
width:25.5px
}

.newMessagesBar__0f481.barBase__0f481:hover {
padding:8px 18px!important;
width:105px
}

.newMessagesBar__0f481.barBase__0f481 > button {
color:transparent!important;
font-size:0
}

.newMessagesBar__0f481.barBase__0f481:hover > button {
color:#fff!important;
font-size:14px
}

.barButtonIcon__0f481 {
color:#fff!important;
margin:0
}

.newMessagesBar__0f481.barBase__0f481:hover .barButtonIcon__0f481 {
margin-left:0;
margin-right:5px
}

.barButtonBase__0f481 {
padding:0
}

[class*="jumpToPresentBar"] {
display:contents
}

[class*="jumpToPresentBar"] > button:last-child {
background-color:var(--accentcolorV2);
color:transparent;
display:flex;
font-size:0;
height:auto;
padding:8px!important
}

[class*="jumpToPresentBar"] > button svg {
color:#fff;
height:24px;
margin:0;
width:24px
}

[class*="jumpToPresentBar"]:hover > button {
color:#fff;
font-size:14px;
padding:8px 18px!important
}

[class*="jumpToPresentBar"]:hover > button svg {
margin-left:-6px;
margin-right:2px
}

.mainContent-20q_Hp::before {
border-bottom-width:1px;
border-top-width:1px;
height:100%;
width:100%
}

.mainContent-20q_Hp:hover {
letter-spacing:1px
}

.mainContent-20q_Hp::after {
background-color:#fff0;
height:100%;
width:100%
}

html.theme-dark #bd-editor-controls {
background-color:#00000093!important
}

html.theme-light #bd-editor-controls {
background-color:#ffffff93!important
}

html.theme-dark .floating-window.resizable,html.theme-dark .floating-window-content,html.theme-dark .editor-wrapper,html.theme-dark .monaco-editor,html.theme-dark .monaco-editor-background,html.theme-dark .monaco-editor .inputarea.ime-input,html.theme-dark .monaco-editor .margin {
background:#0000001a!important
}

html.theme-light .floating-window.resizable,html.theme-light .floating-window-content,html.theme-light .editor-wrapper,html.theme-light .monaco-editor,html.theme-light .monaco-editor-background,html.theme-light .monaco-editor .inputarea.ime-input,html.theme-light .monaco-editor .margin {
background:#ffffff1a!important
}

.btn-primary {
color:#fff!important
}

body:before {
padding:5px 15px
}

html.theme-dark body:before {
background-color:#0000007a;
color:#fff
}

html.theme-light body:before {
background-color:#ffffff7a;
color:#000
}

html.theme-dark .mentioned__5126c:before {
background:linear-gradient(135deg,#3b3b3b,var(--accentcolorV2))!important
}

html.theme-light .mentioned__5126c:before {
background:linear-gradient(135deg,#cfcfcf,var(--accentcolorV2))!important
}

html.theme-dark .mentioned__5126c {
background:linear-gradient(60deg,#2929294d,rgba(var(--accentcolor),0.9))!important
}

html.theme-light .mentioned__5126c {
background:linear-gradient(60deg,#e4e4e44d,rgba(var(--accentcolor),0.9))!important
}

html.theme-dark .mentioned__5126c:hover {
background:linear-gradient(60deg,#20202080,rgba(var(--accentcolor)))!important
}

html.theme-light .mentioned__5126c:hover {
background:linear-gradient(60deg,#e4e4e480,rgba(var(--accentcolor)))!important
}

.clamped-2ZePhX {
margin-left:15px
}

.clamped-2ZePhX::-webkit-scrollbar {
margin-left:7px;
width:13px
}

.clamped-2ZePhX::-webkit-scrollbar-track {
background-color:#ffffff0c!important
}

.clamped-2ZePhX::-webkit-scrollbar-thumb {
background:linear-gradient(45deg,#cacaca,var(--accentcolorV2))!important
}

#app-mount .info__2debe .line__2debe:last-child:after {
display:block
}

.title {
padding-left:60px!important;
text-align:center
}

.content_c48ade {
background:var(--window-colour);
margin:var(--window-margin)
}

html.theme-dark .circleIconButton__5bc7e {
background:#ffffff1a;
color:#fff
}

html.theme-light .circleIconButton__5bc7e {
background:#0000001a;
color:#000
}

html.theme-dark .circleIconButton__5bc7e:hover {
background:transparent;
color:#fff
}

html.theme-light .circleIconButton__5bc7e:hover {
background:transparent;
color:#000
}

.section_d7a21f.lastSection_d7a21f {
margin-top:-65px!important
}

.pronouns_c9ccf6 {
display:flex!important
}

.bg__960e4 {
background-attachment:var(--background-attachment,fixed)!important;
background-image:var(--background-image)!important;
background-position:var(--background-position,center)!important
}

#appearance-tab.contentColumn__23e6b
> :not([class]):first-child
> .children__7bffb
> div:nth-child(2)
[role="radiogroup"]
.item-2idW98 {
height:88px;
margin-right:20px;
width:134px
}

#appearance-tab.contentColumn__23e6b
> :not([class]):first-child
> .children__7bffb
> div:nth-child(2)
[role="radiogroup"]
.item-2idW98:first-child {
background:url(https://cdn.discordapp.com/attachments/934719923735904257/990556326943932446/unknown.png?size=4096) center/cover
}

#appearance-tab.contentColumn__23e6b
> :not([class]):first-child
> .children__7bffb
> div:nth-child(2)
[role="radiogroup"]
.item-2idW98:nth-child(2) {
background:url(https://cdn.discordapp.com/attachments/934719923735904257/990556326746787840/unknown.png?size=4096) center/cover
}

#appearance-tab.contentColumn__23e6b
> :not([class]):first-child
> .children__7bffb
> div:nth-child(2)
[role="radiogroup"]
.item-2idW98:nth-child(3) {
background:url(https://cdn.discordapp.com/attachments/934719923735904257/990559275145384007/chillax_sync.jpg?size=4096) center/cover,var(--background-primary)
}

#appearance-tab.contentColumn__23e6b
> :not([class]):first-child
> .children__7bffb
> div:nth-child(2)
[role="radiogroup"]
.item-2idW98
.radioBar-3w9XY-
.info-2FZci4 {
margin-right:0;
text-align:center
}

#appearance-tab.contentColumn__23e6b
> :not([class]):first-child
> .children__7bffb
> div:nth-child(2)
[role="radiogroup"]
.item-2idW98
.radioBar-3w9XY- {
height:100%
}

#appearance-tab.contentColumn__23e6b
> :not([class]):first-child
> .children__7bffb
> div:nth-child(2)
[role="radiogroup"]
.item-2idW98:last-child
.info-2FZci4::before {
font-size:16px;
font-weight:500;
line-height:20px
}

#appearance-tab.contentColumn__23e6b
> :not([class]):first-child
> .children__7bffb
> div:nth-child(2)
.container-1zDvAE.marginTop20_fd297e {
margin-top:50px
}

.numberBadge__2b1f5 {
background-color:#fe365c
}

[href="https\:\/\/github.com/warrayquipsome/Chillax#Authors"] {
color:#ffa1a1!important;
font:400 25px "Libre Barcode 128 Text"
}

[href="https\:\/\/github.com/warrayquipsome/Chillax#Authors"]:hover {
color:#ffa1a1!important;
font:400 25px "Libre Barcode 128"
}

.input__4f074 {
font:normal normal normal 200/ ""25px/ var(--group-chat-font)!important"!important"!important;
letter-spacing:.2px
}

.container_a2f514 .problems_a2f514 {
background-color:var(--background-floating);
height:fit-content;
padding:8px 16px;
width:fit-content
}

#status-picker-online .statusItem_e0f739,#status-picker-idle .statusItem_e0f739,#status-picker-dnd .statusItem_e0f739,#status-picker-invisible .statusItem_e0f739 {
display:flex;
padding:0;
width:fit-content
}

#status-picker .mask-2Me5HY {
height:50%;
width:auto
}

.status-2DiCMd {
height:6px!important;
margin-left:2px;
margin-top:2px;
width:6px!important
}

html.theme-dark .inline {
background:#2f313680!important
}

html.theme-light .inline {
background:#b8b8b880!important
}

.children__7bffb .colorRed__201d5 {
border:none;
font:normal normal normal 500/ ""0/ Roboto!important"!important"!important;
height:45px;
letter-spacing:2.5px;
text-transform:uppercase;
width:140px
}

html.theme-dark .children__7bffb .colorRed__201d5 {
background-color:#3a3a3a!important;
color:#fff!important
}

html.theme-light .children__7bffb .colorRed__201d5 {
background-color:#fff!important;
color:#000!important
}

html.theme-dark .children__7bffb .colorRed__201d5:hover {
background-color:#e52e2e!important;
color:#252525!important
}

html.theme-light .children__7bffb .colorRed__201d5:hover {
background-color:#ff8181!important;
color:#fff!important
}

html.theme-dark .accountProfileCard__1fed1 {
background:#1a1a1a
}

html.theme-light .accountProfileCard__1fed1 {
background:#f0f0f0
}

html.theme-dark .background__1fed1 {
background:#222
}

html.theme-light .background__1fed1 {
background:#e2e2e2
}

html.theme-dark .withTagAsButton_b2ca13:hover {
background:#31363a
}

html.theme-light .withTagAsButton_b2ca13:hover {
background:#6a74803d
}

.layer__960e4 .accountProfileCard__1fed1 .settingsBanner_c3e427 {
height:90px!important;
margin:8px;
width:unset
}

.layer__960e4 .accountProfileCard__1fed1 .userInfo__1fed1 {
margin-left:17px;
padding:0;
width:calc(100% - 34px)
}

.layer__960e4 .accountProfileCard__1fed1 .userInfo__1fed1 .userTag__1fed1 {
margin-bottom:2px
}

.layer__960e4 .accountProfileCard__1fed1 .userInfo__1fed1 .container__8061a {
width:100%
}

.layer__960e4 .accountProfileCard__1fed1 .userInfo__1fed1 .button__201d5 {
background-color:transparent!important;
border:none!important;
font-size:0;
height:76px;
padding:0;
width:76px
}

.layer__960e4 .accountProfileCard__1fed1 .userInfo__1fed1 .button__201d5:hover {
background-color:#0009!important;
background-image:url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="thistle" class="bi bi-pencil-square" viewBox="0 0 16 16"><path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/><path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/></svg>')!important;
background-position:center!important;
background-repeat:no-repeat!important
}

.art-3sVxAs {
height:218px!important;
margin-top:-210px
}

.title-2xi6Ka {
line-height:0;
text-indent:-1000px
}

.title-2xi6Ka:after {
display:block;
font-size:26px;
line-height:initial;
text-indent:0
}

.body-1oUQrZ strong {
color:#a21fff!important;
font-size:18px!important;
font-weight:900!important
}

.art-3sVxAs ~ .footer-31IekZ > .button__201d5:after {
font-size:12px
}

.scroller_ef3116 > div[aria-label="Servers"] {
margin:10px 0
}

.scroller_ef3116 > div[aria-label="Servers"]::-webkit-scrollbar {
width:0
}

html.theme-dark .itemCard__7e549.wrapper__00943 {
background:#19191a
}

html.theme-light .itemCard__7e549.wrapper__00943 {
background:#f2f3f5
}

html.theme-dark .itemCard__7e549.wrapper__00943:hover {
background:#2b2b2c
}

html.theme-light .itemCard__7e549.wrapper__00943:hover {
background:#fff
}

.reactionMe_f8896c {
background:var(--accentcolorV2)!important;
border:1px solid transparent!important
}

.reactionMe_f8896c:hover,.reaction_f8896c:hover {
border:1px solid #ffffff80!important
}

html.theme-dark .reaction_f8896c {
background:#ffffff4d
}

html.theme-light .reaction_f8896c {
background:#0000004d
}

.role_dfa8b6 .roleRemoveIcon__48c1c {
margin:0
}

.role_dfa8b6 .roleCircle-3K9O3d:before {
background:inherit;
height:100%;
width:100%
}

#app-mount .radioBar-3w9XY- {
border:none!important
}

#app-mount .radioBar-3w9XY-::before {
background:var(--radio-bar-accent-color);
height:30%;
margin-right:3px;
width:5px
}

.root_f555ee,.tile__90dc5,.avatar-2OC07D {
background:none
}

.input-2g-os5,.members_c8ffbb,.member_c8ffbb,.scrollableContainer__74017,.wrapper_ef3116,.container__2637a,.chat_f75fb0,.chatContent_f75fb0,.container_c8ffbb,.wrapper_d852db,.wrapper_fc8177,.container__9293f,.container__0b563,.container_c2efea {
background-color:transparent!important
}

span[class="inner-26JK4f"] > *,[class*="jumpToPresentBar"] > button:first-child,.markdown-hover,.pill__5bc7e,.divider_d2b491,.tabBody__133bf:before,.content_f75fb0:before,#appearance-tab.contentColumn__23e6b
> :not([class]):first-child
> .children__7bffb
> div:nth-child(2)
[role="radiogroup"]
.item-2idW98
.radioBar-3w9XY-
svg,#appearance-tab.contentColumn__23e6b
> :not([class]):first-child
> .children__7bffb
> div:nth-child(2)
[role="radiogroup"]
.item-2idW98:last-child
.info-2FZci4
.text-md-medium-2avxhQ,.container_a2f514 .content_a2f514 .text_a2f514,.container_a2f514 img,.container_a2f514 video,#status-picker
.item-1OdjEX:not(#status-picker-custom-status,#status-picker-switch-account)
.status_e0f739,#status-picker .description_e0f739,#status-picker .separator-1So4YB,.status-qmUf7L,.description-22_U3B,.separator-1So4YB,.profileBody-3QbfPe,.art-3sVxAs ~ .footer-31IekZ .contents-3ca1mk,.radioBar-3w9XY- div:not([class]),.radioIconForeground-2BMavi,.radioBar-3w9XY- path {
display:none
}

.option-2KkUJO:after,.barButtonMain__0f481,.barButtonMain__0f481 * {
display:none!important
}

.forumOrHome__49676,.bodyInnerWrapper-2bQs1k,.container_a2f514,.section__00943 {
background:transparent
}

.panels_c48ade span,.videoGrid_a21736,.container-3wLKDe,.toolbar_bba883 .inactive__6ec5e,.flex__7c0ba.vertical_abf706.gatedContent__7184c
> .flex__7c0ba.flex_abf706.horizontal__7c0ba.horizontal_abf706.flex_abf706.directionRow__65900.justifyCenter_abf706.alignCenter_abf706.noWrap_abf706 {
background:transparent!important
}

.headerText-1-WmDq,.userText_c9ccf6,.heading-lg-medium-3gUJeM {
text-align:center
}

#appearance-tab.contentColumn__23e6b
> :not([class]):first-child
> .children__7bffb
> div:nth-child(2)
[role="radiogroup"],.scroller_ef3116 {
display:flex
}

#status-picker-online,#status-picker-idle,#status-picker-dnd,#status-picker-invisible,#account-status-picker--online,#account-status-picker--dnd,#account-status-picker--idle,#account-status-picker--invisible {
display:flex;
height:40px
}

.children__7bffb .disableButton_d286c5.colorRed__201d5::before,.children__7bffb .lookOutlined__201d5.colorRed__201d5::before,.children__7bffb .logOutAllButton__803f2.lookOutlined__201d5.colorRed__201d5::before {
font-size:11px!important
}

@font-face {
font-family:Blank
}

.blockedSystemMessage__7a70a {
display:flex;
margin-left:-56px;
margin-right:-3px
}

html.theme-light .blockedSystemMessage__7a70a {
background:#d8d8d8
}

.blockedSystemMessage__7a70a .content__235ca {
font-size:12px!important;
font-weight:500;
padding:1px 0;
text-transform:uppercase
}

.blockedMessageText__7a70a {
color:var(--header-secondary);
font-family:Blank,var(--font-primary);
margin-right:-2.64px
}

.blockedAction__7a70a {
color:#0000!important;
display:block;
height:100%;
width:100%
}

html.theme-dark .blockedSystemMessage__7a70a:hover .blockedAction__7a70a {
background:rgba(0, 0, 0, 0)!important
}

html.theme-light .blockedSystemMessage__7a70a:hover .blockedAction__7a70a {
background:rgba(0, 0, 0, 0)!important
}

.groupStart__5126c.expanded__7a70a .blockedSystemMessage__7a70a {
background:none;
border:0;
margin-left:-73px;
margin-right:-17px
}

.theme-dark .groupStart__5126c.expanded__7a70a .blockedSystemMessage__7a70a:hover {
background:#18191b
}

.theme-light .groupStart__5126c.expanded__7a70a .blockedSystemMessage__7a70a:hover {
background:#ececec
}

.groupStart__5126c.expanded__7a70a {
margin-left:16px;
margin-right:13px
}

html.theme-light .groupStart__5126c.expanded__7a70a {
background:#e7e7e7
}

.groupStart__5126c.expanded__7a70a .messageListItem__5126c:last-child {
padding-bottom:20px
}

.chatContent_f75fb0
.scrollerInner__36d07
> :nth-last-child(2).groupStart__5126c.expanded__7a70a
+ .scrollerSpacer__36d07 {
height:10px
}

.bd-addon-card-disabled {
border:2px solid #ff6f6f
}

.bd-addon-card-disabled > :not(#a#B) {
background:var(--info-danger-background);
background:var(--info-danger-background)!important
}

.bd-addon-card-disabled > :first-child {
border-bottom:2px solid #ff6f6f
}

.bd-description-wrap > * {
border:0;
display:flex
}

.bd-addon-card-disabled > .bd-addon-header > .bd-icon {
height:22px!important;
width:22px!important
}

.bd-addon-header > .bd-title > .bd-name {
text-align:center
}

.bd-addon-card :where(.bd-title,.bd-name,.bd-meta) {
display:block
}

.bd-addon-card .bd-meta {
padding-top:5px;
text-align:center;
width:100px
}

html.theme-dark .bd-addon-list .bd-addon-header {
background:#16161a!important
}

html.theme-light .bd-addon-list .bd-addon-header {
background:#d4d4d4!important
}

.list-3FIpnh > div:first-child {
width:600px
}

.container-2qVG6q {
padding-bottom:40px;
padding-left:74px
}

.container-2qVG6q > div:last-child {
width:504px
}

.bodyMedia-3ij3KY {
margin-left:unset;
width:100%
}

.thumbnailContainer-2XSRmY,.thumbnailContainer-2XSRmY img {
height:auto!important;
width:100%!important
}

.header-2W779F {
padding-bottom:0
}

.headerText-3MQ6n4 .channelNameSpan-2CGJt7,.message-1zs6Od .messageContent-1SOr75 {
color:var(--text-muted);
font:normal normal normal 400/ ""initial var(--font-primary)!important!important"!important"!important;
height:max-content;
margin:unset;
white-space:break-spaces
}

.headerText-3MQ6n4 .channelNameSpan-2CGJt7 {
color:var(--header-primary)
}

.message-1zs6Od .messageContent-1SOr75 .emoji {
width:18px
}

.message-1zs6Od > span:first-child span {
font-size:initial
}

.message-1zs6Od > span:first-child span::before {
background:center/contain url(https://i.imgur.com/tYEPmPZ.png);
height:48px;
width:48px
}

.body-hCVwsC {
padding-top:18px
}

.tags-2CaEuN .pill_a2c9e8 > div {
color:var(--text-link);
font-size:initial;
font-weight:400
}

.tags-2CaEuN .pill_a2c9e8 > div::before {
margin-left:4px
}

.footer-3dzxcR {
height:40px
}

.footer-3dzxcR .reaction__23977 .reactionCount__23977::before {
margin-right:4px
}

html.theme-dark .reactionMe__23977 .reactionCount__23977 {
color:#EEE!important
}

html.theme-light .reactionMe__23977 .reactionCount__23977 {
color:var(--status-danger)!important
}

.messageCountBox-XEP63e:hover * {
color:var(--interactive-hover)
}

.chat_a44415 .scrollerInner__36d07 > li:nth-child(3) .message__5126c {
padding-left:unset
}

.chat_a44415 .scrollerInner__36d07 > li:nth-child(3) .header_c19a55 {
display:flex;
margin-bottom:16px;
margin-left:72px;
padding-bottom:20px
}

.chat_a44415
.scrollerInner__36d07
> li:nth-child(3)
:is(.messageContent_c19a55,.container_b7e1cb) {
font-size:23px;
line-height:28px;
margin-left:16px;
padding-left:unset
}

.chat_a44415
.scrollerInner__36d07
> li:nth-child(3)
.timestampInline_c19a55
> time::after {
font-size:15px
}

#Chillax-card .bd-name {
font-size:100px;
text-align:left
}

#Chillax-card .bd-name::after {
display:block;
font-size:20px;
margin-left:15px;
margin-top:-20px
}

#Chillax-card .bd-meta {
color:#e2e2e2;
margin-left:15px
}

#Chillax-card {
border:2px solid var(--accentcolorV2)
}

#Chillax-card .bd-addon-header {
border-bottom:2px solid var(--accentcolorV2)
}

#Chillax-card > :not(#a#B) {
background:rgba(var(--accentcolor),.2)!important
}

html.theme-dark #Chillax-card .bd-meta {
color:#e2e2e2
}

.username_c19a55:after {
background-color:currentColor;
height:1.5px;
width:100%
}

.username_c19a55:hover {
text-decoration:none!important
}

.banner__68edb.popoutBanner_c3e427 {
height:53px;
margin:7px;
width:95.5%
}

.banner__68edb.profileBanner_f0f36c {
height:95px;
margin:12px;
width:96%
}

.root-8LYsGj .avatar-3QF_VA {
border:8px solid transparent
}

.nameTag-35jqbZ {
background-color:var(--profile-gradient-secondary-color);
padding:10px;
width:fit-content
}

.connectedAccountContainer_e6abe8 {
background-color:var(--profile-gradient-secondary-color);
border:none!important;
width:97%
}

.connectedAccounts_e6abe8.userInfoSection-2u2hir {
margin-top:15px
}

.connectedAccountsColumn_e6abe8 {
width:calc((100% / 2) - 15px)
}

#channelTabs-container {
background:var(--window-colour)!important;
margin:20px 21px -13px;
padding:10px!important
}

html.platform-osx .typeMacOS__421ed {
width:unset
}

html .channelTabs-newTab {
margin-right:calc(6px + 72px)
}

.stackedBars__74017 {
margin:20px 20px 10px;
padding:10px
}

html.theme-dark .stackedBars__74017 {
background:#181a1d
}

html.theme-light .stackedBars__74017 {
background:#e4e4e4
}

.bd-notice {
margin:12px
}

.panelBanner_c3e427 {
height:105px;
margin:12px;
width:93%
}

.profilePanel_b433b4 > .userProfileOuterUnthemed_c69a7b > div,#app-mount .userProfileOuterUnthemed_c69a7b {
background:none;
background-color:transparent
}

html.theme-dark .mutualGuildsList_b433b4 > .collapseBtn_a4a127:hover,html.theme-dark .mutualFriendsList_b433b4 > .collapseBtn_a4a127:hover {
background:#ffffff1a!important
}

html.theme-light .mutualGuildsList_b433b4 > .collapseBtn_a4a127:hover,html.theme-light .mutualFriendsList_b433b4 > .collapseBtn_a4a127:hover {
background:#0000001a!important
}

html.theme-dark .container__01ae2 {
background:#1a1a1a!important
}

html.theme-light .container__01ae2 {
background:#fff!important
}

.container_f369db {
background:transparent;
background:transparent!important
}

html.theme-dark .container_faa96b:hover {
background-color:#181a1d99!important
}

html.theme-dark .container_faa96b.isOpen_faa96b {
background-color:#181a1d70
}

html.theme-light .container_faa96b:hover {
background-color:#e4e4e4b7
}

html.theme-light .container_faa96b.isOpen_faa96b {
background-color:#e4e4e4
}

.edited_c19a55::before {
color:var(--text-muted);
font-size:10px;
font-weight:400;
line-height:1
}

.messageContent_c19a55 .timestamp_c19a55:not(.timestampInline_c19a55,.timestampVisibleOnHover_c19a55,.vc-reply-timestamp) time::after {
color:var(--text-muted);
font-size:.625rem;
font-weight:400;
line-height:1
}

html.theme-light .fieldSpacerBottom__1fed1 {
margin-bottom:0
}

.popout__3f413 {
background:#18191ba6!important
}

.option__3f413:hover {
background-color:#4e50584d!important
}

.container__33507,.item__97e86 {
background:transparent
}

.description_af7fb7 {
display:none;
width:10px!important
}

.footer__49fc1 {
background-color:#0000
}

html.theme-dark .backdrop__1a911 {
background-color:#00000080!important
}

.fileWrapper__0ccae {
background-color:#181a1d99;
border-color:transparent
}

html.theme-dark .container__55c99 {
background-color:#181a1da6!important
}

.wrapper__44b0c.avatar__0a06e {
padding:5px!important
}

html.theme-dark .topicsPillContainer__0f481 {
background-color:var(--accentcolorV2)
}

html.theme-dark .topicsDropdownBase__0f481 {
background-color:#0f0c0c38;
padding:15px
}

html.theme-dark .topicsScroller__0f481 > * {
background-color:#0009
}

html.theme-dark .topicsScroller__0f481 > :hover {
background-color:#000
}

.menu_c1e9c4[aria-label="Image Actions"] {
background:#0c0c0c44!important
}

html.theme-light .modeMuted__2ea32:hover .name__2ea32,html.theme-light .wrapper__2ea32:hover .name__2ea32,html.theme-light .wrapper__29444:hover .name__29444 {
color:#333
}

.tutorialContainer__1f388:first-child {
padding-top:5px
}

.buttonSection__1405b {
background:none!important
}

.blockedSystemMessage__7a70a .iconContainer__235ca,.bd-addon-card-disabled .banner-danger,.bd-switch-symbol,.footer-3dzxcR
:is(.bullet-3kDmK0,.reaction__23977 img,.messageCountText-J-9pag
+ div,.typingUsers-1rTfwm),.newBadge-1LcB6t,.tags-2CaEuN .pill_a2c9e8[aria-label],.tags-2CaEuN .pill_a2c9e8 .emoji,.container__7e6bb.container__00de6,#Chillax-card .bd-description,.userPopoutOuter_c69a7b .bannerSVGWrapper_b32cc2 > mask > circle,.root-8LYsGj .bannerSVGWrapper_b32cc2 > mask,.pencilContainer_c3e427,.edited_c19a55:not(.message-translate-indicator) {
display:none
}

html.theme-dark .blockedSystemMessage__7a70a,html.theme-dark .groupStart__5126c.expanded__7a70a {
background:rgba(0, 0, 0, 0)
}

html.theme-dark .container-2O1UgZ,html.theme-dark .button__02a39 {
background:#333135
}

html.theme-light .container-2O1UgZ,html.theme-light .button__02a39 {
background:#dfdfdf
}

.tags-2CaEuN .pill_a2c9e8,.footer-3dzxcR .reaction__23977,.chat_a44415
.scrollerInner__36d07
> li:nth-child(3)
+ .container__34c2c
:is(.buttons__34c2c,.buttons__34c2c button > *,.reaction__23977) {
display:contents
}

#Chillax-card [href='https\:\/\/github.com/warrayquipsome/Chillax'],#Chillax-card [href='DrfX6286kF'],html.theme-dark [d="M21.226 30v-4.154h-3.755V30h3.755zm-.512-8.62c3.67-1.337 5.718-2.959 5.718-6.145 0-3.272-2.36-5.235-6.088-5.235-2.589 0-4.637.825-6.344 2.048l.484 3.3c1.621-1.251 3.47-2.162 5.49-2.162 1.707 0 2.845.854 2.845 2.305 0 1.593-1.08 2.475-3.812 3.442l-.882.342.342 4.523 2.076-.455.171-1.963z"] {
color:#fff!important
}

html.theme-light #Chillax-card .bd-meta,html.theme-light .modeSelected__2ea32 .name__2ea32 {
color:#000
}

html.theme-light [d="M21.226 30v-4.154h-3.755V30h3.755zm-.512-8.62c3.67-1.337 5.718-2.959 5.718-6.145 0-3.272-2.36-5.235-6.088-5.235-2.589 0-4.637.825-6.344 2.048l.484 3.3c1.621-1.251 3.47-2.162 5.49-2.162 1.707 0 2.845.854 2.845 2.305 0 1.593-1.08 2.475-3.812 3.442l-.882.342.342 4.523 2.076-.455.171-1.963z"],html.theme-light .popout_af3b89 .contents__201d5 > div {
color:#000!important
}

.gameIcon_b52e4f,.edited_c19a55 {
color:transparent
}

html.theme-light .quickswitcher_ac6cb0,html.theme-light .root__49fc1,html.theme-light .popout_af3b89 {
background:#fff9
}

.container__3dde2,.quickswitcher_ac6cb0,.root__49fc1 {
background-color:#18191ba6
}

html.theme-light .container__37e49,html.theme-light .contents__201d5,html.theme-light .brand_b3f026.item_b3f026,html.theme-light .themed_b3f026.item_b3f026 {
color:#3a3a3a
}

html.theme-light .defaultColor__4bd52,html.theme-light .headerChildren_f37cb1,html.theme-light .childWrapper__6e9f8,html.theme-light .input_fea832 {
color:#303030
}

html.theme-light .header_b3f026,html.theme-light .name__2ea32,html.theme-light .container__13cf1 {
color:#585b5e
}

.message-1zs6Od > span:first-child,.chat_a44415 .scrollerInner__36d07 > li:nth-child(3) .timestampInline_c19a55,.chat_a44415
.scrollerInner__36d07
> li:nth-child(3)
+ .container__34c2c
.buttons__34c2c
button {
font-size:0
}

.mutualGuildsList_b433b4 > .collapseBtn_a4a127,.mutualFriendsList_b433b4 > .collapseBtn_a4a127,.container_ac6cb0,.zoomedCarouselModalRoot_f74404,.header__34c2c,.container__34c2c,.forumOrHome__49676,.children__9293f:after,.option__3f413,.option__56fec:after,.overlay__325ce,.privateChannels__35e86,.scroller__99e7c,.container__133bf,.tabBody__133bf,.nowPlayingColumn__133bf,.container__7d20c {
background:transparent!important
}

.flex__7aff3 textarea.scrollbar__506b3,div.mainCard_f369db div.channelTextAreaInner_d9be46.scrollableContainer__74017.themedBackground__74017 {
background-color:transparent!important
}